.image-icon {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 1280px;
    object-fit: cover;
  }
  .background-icon,
  .image-icon1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 588px;
    height: 190px;
    object-fit: cover;
  }
  .image-icon1 {
    right: -0.3px;
    bottom: 5px;
    height: 185px;
  }
  .copright-2022-cu,
  .hrcurlisticcom {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .copright-2022-cu {
    right: 210px;
    bottom: 14px;
    font-size: var(--font-size-6xs);
    width: 161px;
    height: 10px;
  }
  .hrcurlisticcom {
    right: 223px;
    bottom: 81px;
    color: #778088;
    width: 73px;
  }
  .background {
    position: absolute;
    right: 2px;
    bottom: 1px;
    border-radius: 2.25px 1.5px 2.5px 2.25px;
    background-color: #fafdfa;
    border: 1px solid #cfd1d2;
    box-sizing: border-box;
    width: 163px;
    height: 24px;
  }
  .background-icon1 {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 52px;
    height: 20px;
    object-fit: cover;
  }
  .subscrihe {
    position: absolute;
    right: 7px;
    bottom: 6px;
    display: flex;
    align-items: center;
    width: 36px;
    height: 8px;
  }
  .button {
    position: absolute;
    right: 3px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 52px;
    height: 21px;
  }
  .ent-orma {
    position: absolute;
    right: 98px;
    bottom: 9px;
    font-size: var(--font-size-5xs);
    color: #dadada;
    display: flex;
    align-items: center;
    width: 56px;
    height: 9px;
  }
  .groups,
  .text {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-100);
    width: 169px;
    height: 28px;
  }
  .groups {
    right: 29px;
    bottom: 111px;
    font-size: 6px;
    color: #95dc96;
  }
  .div,
  .other-products {
    position: absolute;
    right: 232px;
    bottom: 103px;
    color: #858d95;
    display: flex;
    align-items: center;
    width: 64px;
    height: 10px;
  }
  .other-products {
    right: 330px;
    color: #878f96;
    width: 67px;
  }
  .image-icon2 {
    position: absolute;
    right: 402px;
    bottom: 105px;
    width: 4px;
    height: 4px;
    object-fit: cover;
  }
  .bengaluruindia {
    position: absolute;
    right: 223px;
    bottom: 123px;
    color: #7d868f;
    display: flex;
    align-items: center;
    width: 73px;
  }
  .about,
  .contact-us,
  .subscribe-newsle,
  .technical-info {
    position: absolute;
    right: 336px;
    bottom: 124px;
    font-size: var(--font-size-5xs);
    color: #7f868d;
    display: flex;
    align-items: center;
    width: 61px;
  }
  .about,
  .contact-us,
  .subscribe-newsle {
    right: 54px;
    bottom: 146px;
    font-size: var(--font-size-3xs);
    color: #8b9e92;
    width: 116px;
  }
  .about,
  .contact-us {
    right: 235px;
    bottom: 145px;
    color: #4c7c59;
    width: 61px;
  }
  .about {
    right: 372px;
    bottom: 146px;
    font-size: var(--font-size-2xs);
    color: #4e8156;
    width: 35px;
    height: 10px;
  }
  .image-icon3,
  .image-icon4,
  .image-icon5,
  .image-icon6 {
    position: absolute;
    right: 51px;
    bottom: 6px;
    width: 14px;
    height: 13px;
    object-fit: cover;
  }
  .image-icon4,
  .image-icon5,
  .image-icon6 {
    right: 69px;
    height: 14px;
  }
  .image-icon5,
  .image-icon6 {
    right: 89px;
    bottom: 7px;
    width: 12px;
    height: 12px;
  }
  .image-icon6 {
    right: 107px;
  }
  .trasave-travel-fund {
    margin: 0;
  }
  .trasave,
  .trasave-travel-f-container {
    position: absolute;
    right: 12.4px;
    bottom: 30px;
    display: flex;
    align-items: center;
    width: 110px;
    height: 38px;
  }
  .trasave {
    right: -2px;
    bottom: 4px;
    width: 47px;
    height: 11px;
  }
  .image-icon7 {
    position: absolute;
    right: 9px;
    bottom: 17px;
    width: 27px;
    height: 31px;
    object-fit: cover;
  }
  .groups1,
  .groups2 {
    position: absolute;
    background-color: var(--color-gray-100);
  }
  .groups2 {
    right: 75px;
    bottom: 78px;
    width: 51px;
    height: 53px;
    font-size: var(--font-size-2xs);
    color: #93969a;
  }
  .groups1 {
    right: 427px;
    bottom: 46px;
    width: 127px;
    height: 136px;
    color: #92979d;
  }
  .background-icon2,
  .image-icon8 {
    position: absolute;
    right: 0;
    bottom: 220px;
    width: 588px;
    height: 346px;
    object-fit: cover;
  }
  .background-icon2 {
    bottom: 186px;
    height: 38px;
  }
  .as-well-as-container {
    position: absolute;
    right: 29px;
    bottom: 278px;
    color: #888a8a;
    display: flex;
    align-items: center;
    width: 190px;
    height: 117px;
  }
  .saveyour-travel-txt-container {
    width: 100%;
  }
  .saveyour-travel {
    position: absolute;
    right: 322px;
    bottom: 281px;
    font-size: var(--font-size-xl);
    color: #d8d8d7;
    display: flex;
    align-items: center;
    width: 228px;
    height: 110px;
  }
  .image-icon9 {
    position: absolute;
    right: 490px;
    bottom: 405px;
    width: 55px;
    height: 4px;
    object-fit: cover;
  }
  .there-are-so-container {
    position: absolute;
    right: 24px;
    bottom: 410px;
    color: gray;
    display: flex;
    align-items: center;
    width: 196px;
    height: 77px;
  }
  .use-this-money-container {
    position: absolute;
    right: 2px;
    bottom: 25px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 87px;
    height: 26px;
  }
  .invest-in-trasav-container,
  .savemoney,
  .travelglobal {
    position: absolute;
    right: 302px;
    bottom: 25px;
    color: #888;
    display: flex;
    align-items: center;
    width: 82px;
    height: 25px;
  }
  .savemoney,
  .travelglobal {
    right: 0;
    bottom: 57px;
    font-size: var(--font-size-sm);
    color: #b4b0ad;
    width: 90px;
    height: 15px;
  }
  .savemoney {
    right: 301px;
    bottom: 55px;
    color: #a4a4a4;
    width: 82px;
  }
  .image-icon10 {
    position: absolute;
    right: 30px;
    bottom: 81px;
    width: 34px;
    height: 31px;
    object-fit: cover;
  }
  .earn-rewards,
  .earn-rewards-and-container {
    position: absolute;
    right: 26px;
    bottom: 25px;
    display: flex;
    align-items: center;
    width: 85px;
    height: 25px;
  }
  .earn-rewards {
    right: 23px;
    bottom: 57px;
    font-size: 13px;
    color: #afaaa8;
    width: 89px;
    height: 14px;
  }
  .image-icon11 {
    position: absolute;
    right: 51px;
    bottom: 82px;
    width: 34px;
    height: 34px;
    object-fit: cover;
  }
  .groups4 {
    position: absolute;
    right: 128px;
    bottom: 0;
    background-color: var(--color-gray-100);
    width: 140px;
    height: 125px;
    color: #888381;
  }
  .image-icon12 {
    position: absolute;
    right: 325px;
    bottom: 78px;
    width: 32px;
    height: 35px;
    object-fit: cover;
  }
  .groups3 {
    position: absolute;
    right: 98px;
    bottom: 597px;
    background-color: var(--color-gray-100);
    width: 387px;
    height: 125px;
    color: #84807e;
  }
  .ambitious-about-container,
  .why-to-lravel {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .ambitious-about-container {
    right: 66px;
    bottom: 762px;
    color: #838383;
    text-align: center;
    width: 452px;
    height: 38px;
  }
  .why-to-lravel {
    right: 170px;
    bottom: 813px;
    font-size: var(--font-size-2xl);
    color: #bdccbd;
    width: 240px;
    height: 24px;
  }
  .background-icon3,
  .image {
    position: absolute;
    bottom: 872px;
    height: 408px;
  }
  .image {
    right: 1px;
    background-color: #000;
    width: 587px;
  }
  .background-icon3 {
    right: 0;
    width: 588px;
    object-fit: cover;
  }
  .fortravelthrough-txt {
    line-break: anywhere;
    width: 100%;
  }
  .fortravelthrough {
    position: absolute;
    right: 278px;
    bottom: 1074px;
    font-size: var(--font-size-xl);
    color: #e2e2e2;
    display: flex;
    align-items: center;
    width: 275px;
    height: 49px;
  }
  .background-icon4 {
    position: absolute;
    right: 2px;
    bottom: 1px;
    border-radius: 3.75px;
    width: 119px;
    height: 26px;
    object-fit: cover;
  }
  .uiux-case-study {
    position: absolute;
    right: 16px;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 89px;
    height: 11px;
  }
  .button1 {
    position: absolute;
    right: 2px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 123px;
    height: 31px;
    font-size: var(--font-size-5xs);
  }
  .background-icon5 {
    position: absolute;
    right: 2px;
    bottom: 2px;
    border-radius: 3.25px;
    width: 79px;
    height: 25px;
    object-fit: cover;
  }
  .save-now {
    position: absolute;
    right: 16px;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 49px;
    height: 10px;
  }
  .button2 {
    position: absolute;
    right: 133px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 84px;
    height: 31px;
    color: #8fe48e;
  }
  .save-your-money-container,
  .saving {
    position: absolute;
    right: -2px;
    bottom: 55px;
    color: #9d9d9d;
    display: flex;
    align-items: center;
    width: 219px;
    height: 37px;
  }
  .saving {
    right: 126px;
    bottom: 162px;
    font-size: var(--font-size-2xl);
    color: #529354;
    width: 88px;
    height: 20px;
  }
  .groups5 {
    position: absolute;
    right: 337px;
    bottom: 971px;
    background-color: var(--color-gray-100);
    width: 220px;
    height: 189px;
    color: #8ee08d;
  }
  .your-money {
    position: absolute;
    right: 296px;
    bottom: 1134px;
    font-size: var(--font-size-xl);
    color: #e1e1e1;
    display: flex;
    align-items: center;
    width: 163px;
    height: 20px;
  }
  .background-icon6 {
    position: absolute;
    right: 2px;
    bottom: 3px;
    border-radius: 4.5px 1.75px 1.75px 3.75px;
    width: 67px;
    height: 20px;
    object-fit: cover;
  }
  .contact-us1 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 49px;
    height: 9px;
  }
  .button3 {
    position: absolute;
    right: 27px;
    bottom: 8px;
    background-color: var(--color-gray-100);
    width: 73px;
    height: 27px;
  }
  .wallet {
    position: absolute;
    right: 6px;
    bottom: 13px;
    display: flex;
    align-items: center;
    width: 31px;
    height: 10px;
  }
  .groups7 {
    position: absolute;
    right: 103px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 47px;
    height: 32px;
    font-size: var(--font-size-4xs);
    color: #878787;
  }
  .experience {
    position: absolute;
    right: 7px;
    bottom: 13px;
    display: flex;
    align-items: center;
    width: 46px;
    height: 10px;
  }
  .groups8 {
    position: absolute;
    right: 146px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 63px;
    height: 31px;
    font-size: var(--font-size-6xs);
    color: #969696;
  }
  .travel {
    position: absolute;
    right: 5px;
    bottom: 14px;
    display: flex;
    align-items: center;
    width: 29px;
    height: 9px;
  }
  .groups9 {
    position: absolute;
    right: 206px;
    bottom: 4px;
    background-color: var(--color-gray-100);
    width: 43px;
    height: 31px;
    color: #959595;
  }
  .save {
    right: 7px;
    bottom: 12px;
    display: flex;
    align-items: center;
    width: 23px;
  }
  .groups10,
  .home,
  .save {
    position: absolute;
  }
  .groups10 {
    right: 245px;
    bottom: 5px;
    background-color: var(--color-gray-100);
    width: 40px;
    height: 30px;
    color: #8b8b8b;
  }
  .home {
    right: 6px;
    bottom: 14px;
    display: flex;
    align-items: center;
    width: 26px;
    height: 9px;
  }
  .groups11,
  .trasave1 {
    position: absolute;
    bottom: 4px;
  }
  .groups11 {
    right: 283px;
    background-color: var(--color-gray-100);
    width: 43px;
    height: 32px;
    font-size: var(--font-size-6xs);
    color: #435b43;
  }
  .trasave1 {
    right: 518px;
    color: #868686;
    display: flex;
    align-items: center;
    width: 35px;
    height: 9px;
  }
  .image-icon13 {
    position: absolute;
    right: 526px;
    bottom: 14px;
    width: 20px;
    height: 23px;
    object-fit: cover;
  }
  .groups6 {
    position: absolute;
    right: 0;
    bottom: 1240px;
    background-color: var(--color-gray-100);
    width: 588px;
    height: 40px;
    font-size: var(--font-size-5xs);
    color: #97e196;
  }
  .figma-design-fig-desgjpg,
  .root {
    width: 100%;
    background-color: var(--color-gray-100);
    height: 1280px;
  }
  .root {
    position: absolute;
    top: 0;
    right: -0.3px;
    left: 0.3px;
  }
  .figma-design-fig-desgjpg {
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-4xs);
    color: #8a8e94;
    font-family: var(--font-inter);
  }
  